<%- layout('/layouts/boilerplate') %>

<body>
  <section class="new-listing">
    <div class="mt-3 listing-form">
      <div class="mb-5">
        <h3 class="mb-3 text-center">Create a New Listing</h3>
        <form
          action="/listings"
          method="POST"
          novalidate
          class="needs-validation"
          enctype="multipart/form-data"
          id="form"
        >
          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input
              type="text"
              name="listing[title]"
              placeholder="Enter the title"
              class="form-control"
              maxlength="100"
              onkeydown="return /[a-zA-Z0-9_. ]/i.test(event.key)"
              required
            />
            <div class="valid-feedback">Title looks good!</div>
            <div class="invalid-feedback">Please enter the title!</div>
          </div>

          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea
              name="listing[description]"
              placeholder="Enter the description"
              class="form-control"
              maxlength="1000"
              required
            ></textarea>
            <div class="invalid-feedback">
              Please enter a short description.
            </div>
          </div>

          <div class="mb-3">
            <label for="image" class="form-label">Upload Listing Image</label>
            <input type="file" name="listing[image]" class="form-control" />
          </div>

          <div class="mb-3">
            <label for="country" class="form-label">Category</label>
            <select class="form-select" name="listing[category]">
              <option selected disabled>Select the category</option>
              <option value="Arctic">Arctic</option>
              <option value="Beach">Beach</option>
              <option value="Camping">Camping</option>
              <option value="Castles">Castles</option>
              <option value="Dormitory">Dormitory</option>
              <option value="Hotels">Hotels</option>
              <option value="Iconic city">Iconic city</option>
              <option value="Mountains">Mountains</option>
              <option value="Nature">Nature</option>
              <option value="Pools">Pools</option>
              <option value="Rooms">Rooms</option>
              <option value="Trending">Trending</option>
            </select>
          </div>
          <div class="row">
            <div class="mb-3 col-md-4">
              <label for="price" class="form-label">Price</label>
              <input
                type="number"
                name="listing[price]"
                placeholder="Enter the Price"
                class="form-control"
                required
              />
              <div class="invalid-feedback">Price should be valid.</div>
            </div>

            <div class="mb-3 col-md-4">
              <label for="price" class="form-label">Contact</label>
              <input
                type="text"
                name="listing[contact]"
                placeholder="Enter your contact"
                class="form-control"
                onkeydown="return /[0-9\b]/i.test(event.key) || event.key === 'Backspace'"

                maxlength="10"
                minlength="10"
                required
              />
              <div class="invalid-feedback">Contact no. should be valid.</div>
            </div>

            <div class="mb-3 col-md-4">
              <label for="country" class="form-label">Country</label>
              <select
                class="form-select"
                aria-label="Default select example"
                name="listing[country]"
                id="countries"
                required
              ></select>
              <div class="invalid-feedback">Country name should be valid.</div>
            </div>
          </div>

          <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input
              type="text"
              name="listing[location]"
              placeholder="Enter the location"
              class="form-control"
              maxlength="100"
              required
            />
            <div class="invalid-feedback">Location should be valid.</div>
          </div>

          <button
            class="btn btn-dark mt-3 create-btn"
            type="submit"
            form="form"
          >
            CREATE
          </button>
        </form>
      </div>
    </div>
  </section>
  <script src="/script/fetchCountry.js"></script>
</body>
